.cardsContainer {
    width: 100%;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.paginationContainer {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
